/EStoreSearch/build/
/EStoreSearch/dist/
/Duck/nbproject/private/
/Duck/build/
/WeatherStation/nbproject/private/
/WeatherStation/build/
/WeatherStationObservable/nbproject/private/
/WeatherStationObservable/build/
/ShouldIDoIt/nbproject/private/
/ShouldIDoIt/build/